@model ProjectAO_Wagenpark.Models.Onderhoud

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Onderhoud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OnderhoudsDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnderhoudsDatum)
        </dd>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OnderhoudsKosten)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OnderhoudsKosten)
            </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OnderhoudsDatum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
