@model IEnumerable<ProjectAO_Wagenpark.Models.Onderhoud>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Onderhoudsdatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auto.Merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Werkplaats.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kosten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Onderhoudsdatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auto.Kenteken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Werkplaats.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kosten)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  datumID=item.Onderhoudsdatum, kentekenID=item.Auto_Kenteken }) |
            @Html.ActionLink("Details", "Details", new { datumID = item.Onderhoudsdatum, kentekenID = item.Auto_Kenteken }) |
            @Html.ActionLink("Delete", "Delete", new { datumID = item.Onderhoudsdatum, kentekenID = item.Auto_Kenteken })
        </td>
    </tr>
}

</table>
