@model IEnumerable<ProjectAO_Wagenpark.Models.Onderhoud>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.onderhoudsdatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auto.merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Werkplaats.naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kosten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.onderhoudsdatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auto.merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Werkplaats.naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kosten)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
